body {
  display: flex;
  justify-content: center;
  font-family: serif;
}
header{
  width: 100%;
  text-align: center;
}
h1, h4{
  font-weight: 900;
}
table, td{
  text-align: left;
  table-layout: fixed;
  padding-left: 20px;
  /* border: 1px solid black; */
}
td ul{
  padding: 0px;
}
td{
  vertical-align: top;
}

.container {
  background-color: rgb(90,136,231);
  display: flex;
  justify-content: center;
  width: 80%;
  border: 1px solid black;
  border-radius: 35px;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.column{
  /*For flexbox option */
  padding: 10px;
  background-color: white;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
  margin: 5px;
  font-size: 14px;
  height: 100%;
}