
.test_block{
    border-bottom: 3px solid black;
    width: 600px;
    padding-left: 100px;
}  
    .test_block button{
        display: inline-block;
    }
    .test_block .info{
        display: inline-block;
        text-align: center;
        vertical-align: middle;
    }
    .test_block img{
        display: inline-block;
        vertical-align: middle;
    }
    .test_block .hidden{
        display: none;
    }
    .test_block .align_left{
        text-align: left;
        }

.light_blue_background{
    background-color: lightblue;
}
span{
    color: red;
}