#container{
    background-color: lightblue;
    border-radius: 20px;
    padding: 10px;
}
#grid{
    display: flex;
    flex-wrap: wrap;
}
    #grid img{
        width: 60px;
    }
#focus{
    width: 1800px;
    padding: 0px 10px;
}
    #focus img{
        width: 100%;
    }


.white{
    background-color: white;
    border-radius: 20px;
    display: inline-block;
    margin-right: 10px;
/*     width: 100px;
    height: 100px; */
}

h1, h4{
    width: 100%;
    text-align: center;
}
main{
    display: flex;
}
table{
    
}
td{
    margin-right: 10px;
    padding-left: 20px;
    vertical-align: top;
    /* border: 1px solid black; */
}
ul{
    padding: 0;
    display: table-cell;
    vertical-align: top;
}
